# this should be the URL to your Discourse forums
DISCOURSE_URL = 'my-discourse-url.com'

# the API key (you have to set this up in Discourse first)
DISCOURSE_API_KEY = '1234567890123456789012345678901234567890123456789012345678901234'

# if you want to test SSO features, you need to give your SSO secret
# (this matches the SSO secret key in your Discourse site settings)
DISCOURSE_SSO_SECRET = 'your-SSO-secret-password-goes-here'

# I suggest keeping the default protocol as 'https' but you can use 'http' also
DISCOURSE_PROTOCOL = 'https'
